/* Access Wallet Screen */
.walletAccess-page,
.walletAccess-title {
    /*background: #18264b;*/
	background:#C51162;
}

.walletAccess-title SPAN{
	display :   none;
	
    /*color: #fff;
    padding-top:4vh;
    margin-bottom: 1vh;
    border:0px;*/
}

.walletAccess-title:after {	
	/*display:block;
    content:"Enter 4 digit PIN to verify access to your wallet";
	color:#fff;    
    margin-bottom:1vh;
    border:0px;
	background:url(https://chuwoman.github.io/WeFitPay/ic_wetech_pay_white.png) no-repeat top 10px center;
	height:50px;
	padding-top:20%;
	
	background:url(https://chuwoman.github.io/WeFitPay/ic_wetech_pay_white.png) no-repeat top center;
	
	*/
	
	/*display:block;
    content:"Enter 4 digit PIN to access wallet";
	color:#fff;  
	padding-top:4vh;
	padding-bottom:4vh;    
    border:0px;
	background-image: url(https://chuwoman.github.io/WeFitPay/ic_wetech_pay_white.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; */
	
	display:block;
    content:"Enter 4 digit PIN to access wallet";
	color:#fff;  
	padding-top:12vh;
	padding-bottom:2vh;    	
    border:0px;
	background-image: url(images/ic_wetech_pay_white.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
	
	
	
	
}

.walletAccess-page {
    height: 100vh;
}

.walletAccess-errorMsg {
    color: #fff;
}

.footerLinks a.wallet-button-reset {
    display: inline;
}

.pin-pad-keys,
.pin-pad-footerLinks {
    /*padding: 0 4%;*/
	padding: 0 2%;
}

.pin-status-container,
.pin-pad-footerLinks a {
    color: #fff;
}

.pin-status-container {
    position: relative;
}

.pin-pad-erase {
    position: absolute;
    top: 0;
    right: 10%;
}

.pin-pad-erase:link {
    color: #fff;
}

a.pin-pad-key:active {
    /*border-color: #18264b;
    background-color:#fff;
    color: #18264b;*/
	border-color: #C51162;
    background-color:#fff;
    color: #C51162;
}

.pin-pad-keys {
    /*margin-bottom: 2vh;*/
	margin-bottom: 1vh;
}

a.pin-pad-key {
    /* Al comentar esto hacemos que los botones sean cuadrados
		border-radius: 100%;		
		width: 13vh;
		height: 13vh;
		line-height: 13vh;
	*/
	font-size: 5vh;
    width: 13vh;
    height: 13vh;
    line-height: 13vh;
    font-weight:300;
    border-color: #fff;    
    color: #fff;
    font-weight: 300;
}

.pin-status {
    margin-top: 1vh;
}


/* Reset PIN Screen */
.resetPIN-page,
.resetPIN-title {
    /*background: #18264b;*/
	background:#C51162;
}



.createWalletNotAllowed-title {
    margin-bottom: 10px;
	background:#C51162;
	color: #fff;    
}

.createWalletNotAllowed-page {
    height: 100vh;
	background: #fff;
}

/* Secure Wallet Screen */


.createWallet-title {
    margin-bottom: 10px;
	background:#C51162;
	color: #fff;    
}

.createWallet-page {
    height: 100vh;
	background: #fff;
}

/*.createWallet-page {
    height: 100vh;
}

.createWallet-page,
.createWallet-title {
  
	background:#C51162;
}*/

.createWallet-content,
.createWallet-title {
    color: #fff;
}

.createWallet-desc {
    color: #fff;
}

.createWallet-form small {
    color: #fff;
}

.createWallet-form label {
    display: none;
}

.createWallet-footerLinks a {
    color: #fff;
}

#requestLostDevice {
    display:none;
}

#signIn {
    font-size:14px;
}

.fa-chevron-left:before {
    content: "\f137";
}

.createWallet-desc SPAN {
    display: none;
}

.createWallet-desc:after {
    content: "Please create a 4 digit PIN to secure your wallet against unauthorized use.";
}

.createWallet-footerLinks a {
    color: #fff;
    font-size: 1em;
}

.createWallet-form label {
    display: inline;
    color: #fff;
}

small {
    font-size: 10px;
}


/* Empty Wallet Screen */
.emptyWallet-title {
    margin-bottom: 10px;
	background:#C51162;
	color: #fff;    
}

.emptyWallet-page {
    height: 100vh;
	background: #fff;
}



/* Add Card Screen */
.addCard-title {
    margin-bottom: 10px;
	background:#C51162;
	color: #fff;    
}

/*.addCard-desc{
    background: #fff;
	
}*/

.addCard-page {
    height: 100vh;
	background: #fff;
}

/*.addCard-label-cardNickname,
.addCard-input-cardNickname {
  display: none;
}*/

.addCard-label-cardNickname{
	color:#616161;	
}
.addCard-input-cardNickname{
	color:#9E9E9E;	
}

.addCard-label-cardNumber{
	color:#616161;	
}
.addCard-input-cardNumber{
	color:#9E9E9E;	
}


.addCard-label-expYear {
    display:none;
}

/*.addCard-label-expYear {
    color:#616161;	
}*/

.addCard-label-expMonth {
    color:#616161;	
}

.addCard-input-expMonth {
    width: 60%;
	color:#9E9E9E;
}

.addCard-input-expYear {
    width: 35%;
	color:#9E9E9E;
}


.addCard-label-addressStreet{
	color:#616161;	
}

.addCard-input-addressStreet {    
	color:#9E9E9E;
}

.addCard-label-addressCity{
	color:#616161;	
}

.addCard-input-addressCity {    
	color:#9E9E9E;
}
/*images/
background: url(https://chuwoman.github.io/WeFitPay/ic_wetech_pay_white.png)50%50%no-repeat;background-size: 20px20px;border: 0;top: 0;left: 0
*/
.backButton{
	background: url(images/ic_keyboard_arrow_left_white.png)50%50%no-repeat;background-size: 20px20px;border: 0;top: 0;left: 0
}.backButtonSPAN{
	font: 16px/15pxlato;color: #0d79bd;margin-left: 18px;display: none
}.actionButton{
	width: 46px;height: 46px;position: absolute;padding: 0
}

.wallet-image-empty {
    margin-top: 0%;
}

.jumio-scanner {
    padding-bottom: 8%;
}


.modal-small .modal-action:before, .modal-small .modal-close:before {
    position: initial;
}

.modal-dialog-content P {
    text-align:center;
}

.modal-small .modal-dialog-content p {
    margin-top: -7%;
}

.device-status P {
    text-align:left;
}

.rtmStatus {
    font-size:18px;
}


.wallet-cardList TR TD IMG {
    width: 95%;
    border-radius: 8px;
}

img[src*="email_icon.png"] {
    display:none;
}

img[src*="email_icon.png"] + a {
    display:none;
}

img[src*="terms_icon.png"] {
    display:none;
}

img[src*="terms_icon.png"] + a {
    display:none;
}

img[src*="privacy_icon.png"] {
    display:none;
}

img[src*="privacy_icon.png"] + a {
    display:none;
}


